.main{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    padding:20px;
    background-color:white;
    width:400px;
    height:400px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:20px;
    border-width:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input-container{
    padding:5px;
}